# Ignore Vivado temporary and log files
*.jou
*.log
*.str
*.pb
*.wdb
*.wcfg

# Ignore Vivado generated directories
.Xil/
.ip_user_files/
*/project_*/
work/

# Ignore Hardware and Simulation caches
*.cache/
*.hw/
*.sim/
*.runs/

# Ignore Bitstreams and Probes (Unless you specifically want release artifacts tracked)
*.bit
*.ltx
*.bin
